@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;

  /* variables */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

.navbar-link-btn:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  height: 6px;
  width: 100%;
  background-color: var(--orange);
}
